body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

.main_content {
  background-color: #ffffff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

/* about styles */

.about {
  margin-bottom: 40px;
}

.about_position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.job_title_jun {
  color: #fb6d3a;
  margin-bottom: 25px;
}

.about_name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.about_description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 440px;
}

/* projects styles */

.projects {
  margin-bottom: 50px;

  /* margin: 100px 90px 300px 60px;

    margin: 50px;

    margin: 100px 50px; */
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects_list {
  padding: 0;
  margin-left: 20px;
}

.projects_item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.project,
.project_link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.project_link {
  margin-left: 10px;
}

.project_bracket {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* work styles */

.work {
  /* padding: 100px 40px 50px 20px;

    padding: 100px;

    padding: 100px 50px; */
}

.work_position {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.organization {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.line {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

.work_list {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0;
  margin-left: 15px;
  margin-bottom: 45px;
}

.work_list_item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* education style */

.education {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 12px;
}

.education_title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 11;
}

.education_job_title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 12px;
}

.education_period {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
}

.img-footer {
  margin-bottom: 30px;
}

/* sidebar styles */

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
  width: 370px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.contacts,
.tech_skills,
.soft_skills {
  margin-left: 40px;
}

.contacts {
  margin-bottom: 50px;
}

.tech_skills {
  margin-bottom: 50px;
}

.soft_skills {
  margin-bottom: 50px;
}

.sidebar_title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  margin-right: 10px;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #b99dd0;
}

.tech_skills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.soft_skills_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.tech_skills_item {
  color: #fb6d3a;
}

.tech_skills_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.languages {
  margin-left: 40px;
  margin-bottom: 50px;
}

.languages_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.languages_item {
  color: #fb6d3a;
}

.languages_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.hobbies {
  margin-left: 40px;
  margin-bottom: 50px;
}

.hobbies_list {
  color: #ffffff;
  padding: 0;
  margin-left: 17px;
}

.hobbies_item {
  color: #fb6d3a;
}

.hobbies_text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/* join-in */

.join-in-box {
  /* margin-left: 40px; */
}

.join-title {
  margin-left: 40px;
}

/* .join-in-title {
  margin-left: 40px;
  color: #ffffff;
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

} */

.join-in-list {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  /* margin-left: 40px; */
}

.join-in-button {
  padding: 0;
  border: none;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-in-button:hover,
.join-in-button:focus {
  background: #fb6d3a;
  /* fill: #000000; */
}

.join-in-button:hover > .join-in-link {
  /* background: #fb6d3a; */
  fill: #000000;
}

.join-in-button:focus > .join-in-link {
  /* background: #fb6d3a; */
  fill: #000000;
}

.join-in-link {
  background-position: center;
  fill: #ffffff;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}

/* .join-in-link:hover,
.join-in-link:focus {
  fill: #000000;
  background: #fb6d3a;
} */

/* the end */
